/* Base tokens */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

/* Tokens */
@import './tokens/colors.css';
@import './tokens/typography.css';
@import './tokens/spacing.css';
@import './tokens/radii.css';
@import './tokens/shadows.css';
@import './tokens/zindex.css';
@import './globals/reset.css';
@import './globals/base.css';
@import './globals/utilities.css';

/* Themes */
@import './themes/light.css';
@import './themes/dark.css';

/* Spacing */
.p-2 {
    padding: var(--spacing-xs);
}

.p-4 {
    padding: var(--spacing-sm);
}

.p-6 {
    padding: var(--spacing-md);
}

.p-8 {
    padding: var(--spacing-lg);
}

.p-12 {
    padding: var(--spacing-xl);
}

/* Radii */

.r-4 {
    border-radius: var(--radius-sm);
}

.r-6 {
    border-radius: var(--radius-md);
}

.r-8 {
    border-radius: var(--radius-lg);
}

.r-full {
    border-radius: var(--radius-full);
}


